<footer class="footer">
  <div class="wrapper2">
    <div class="footer__button">
      <a href="#call2">
        <button class="footer__button--arrow">
          <img src="./assets/images/ico-arrow.svg" alt="" /></button
      ></a>
    </div>
    <nav class="footer__nav1">
      <ul class="footer__nav1--list">
        <li>
          <a
            href="https://adalab.es/"
            target="_blank"
            class="footer__nav1--item"
            >articles</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            target="_blank"
            class="footer__nav1--item"
            >books</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            target="_blank"
            class="footer__nav1--item"
            >events</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            target="_blank"
            class="footer__nav1--item"
            >reasons</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            target="_blank"
            class="footer__nav1--item"
            >tips</a
          >
        </li>
      </ul>
    </nav>

    <nav class="footer__nav2">
      <ul class="footer__nav--list">
        <li>
          <a
            href="https://adalab.es/"
            target="_blank"
            class="footer__nav2--item"
            >twitter</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            target="_blank"
            class="footer__nav2--item"
            >instagram</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            target="_blank"
            class="footer__nav2--item"
            >mastodon.social</a
          >
        </li>
      </ul>
    </nav>

    <ul class="footer__copy">
      <li class="footer__copy--item1">&copy;2021</li>
      <li class="footer__copy--item2">
        we <i class="fas fa-heart"> </i> components
      </li>
    </ul>
  </div>
</footer>
