<footer class="footer">
  <div class="wrapper2">
    <nav class="footer__nav1">
      <ul class="footer__nav1--list">
        <li class="footer__nav1--item">articles</li>
        <li class="footer__nav1--item">books</li>
        <li class="footer__nav1--item">events</li>
        <li class="footer__nav1--item">reasons</li>
        <li class="footer__nav1--item">tips</li>
      </ul>
    </nav>

    <nav class="footer__nav2">
      <ul class="footer__nav--list">
        <li class="footer__nav2--item">twitter</li>
        <li class="footer__nav2--item">instagram</li>
        <li class="footer__nav2--item">mastodon.social</li>
      </ul>
    </nav>

    <ul class="footer__copy">
      <li class="footer__copy--item1">&copy;2021</li>
      <li class="footer__copy--item2">we components</li>
    </ul>
  </div>
</footer>
