<footer class="footer">
  <div class="wrapper2">
    <div class="footer__button">
      <a href="#call2">
        <button class="footer__button--arrow">
          <img src="./assets/images/ico-arrow.svg" alt="" /></button
      ></a>
    </div>

    <div class="footer__container">
      <nav class="footer__container--nav1">
        <ul>
          <li>
            <a
              href="https://adalab.es/"
              target="_blank"
              class="footer__container--nav1__item"
              >articles</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              target="_blank"
              class="footer__container--nav1__item"
              >books</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              target="_blank"
              class="footer__container--nav1__item"
              >events</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              target="_blank"
              class="footer__container--nav1__item"
              >reasons</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              target="_blank"
              class="footer__container--nav1__item"
              >tips</a
            >
          </li>
        </ul>
      </nav>

      <nav class="footer__container--nav2">
        <ul class="footer__container--nav2__list">
          <li>
            <a
              href="https://adalab.es/"
              target="_blank"
              class="footer__container--nav2__item"
              >twitter</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              target="_blank"
              class="footer__container--nav2__item"
              >instagram</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              target="_blank"
              class="footer__container--nav2__item"
            >
              mastodon.social</a
            >
          </li>
        </ul>
      </nav>

      <div class="footer__container--copy">
        <ul class="footer__container--copy__list">
          <li class="footer__container--copy__list--item">&copy;2021</li>
          <li class="footer__container--copy__list--item">
            we <i class="fas fa-heart"> </i> components
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
