<section class="hero" id="call2">
  <div class="hero__container">
    <div class="hero__container--cover">
      <div class="wrapper">
        <h1 class="hero__container--title1">Anonymous proxy</h1>
        <h2 class="hero__container--title2">
          In hac habitasse platea dictumst
        </h2>
        <a href="#call1"
          ><button class="hero__container--button">
            <img
              src="./assets/images/ico-scroll-down.svg"
              alt=""
              class="hero__container--button__scroll"
            /></button
        ></a>
      </div>
    </div>
  </div>
</section>
