<main>
  <section class="tips">
    <p class="tips__small">Insomnia tips</p>
    <h3 class="tips__title">Looking through a window</h3>
    <p class="tips__text">
      Donec accumsan, nulla ut volupat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    Go
  </section>

  <section class="reasons">
    <h3 class="reasons__title">3 reasons to purchase</h3>

    <article class="reasons__item">
      <h4 class="reasons__item--title">Ut sed metus</h4>
      <p class="reasons__item--text">Lorem ipsum dolor sit amet, consecteur.</p>
    </article>

    <article class="reasons__item"></article>
    <h4 class="reasons__item--title">Curabitur ac erat</h4>
    <p class="reasons__item--text">Mauris mattis urna quis lorem molestie.</p>
    </article>

    <article class="reasons__item">
      <h4 class="reasons__item--title">Morbi dictum.</h4>
      <p class="reasons__item--text">Aliquam in dolor et dolor tincidunt.</p>
    </article>

    More reasons
  </section>
</main>