<section class="reasons">
  <div class="wrapper">
    <div class="reasons__item1">
      <h3 class="reasons__item1--title0">3 reasons to purchase</h3>
    </div>
    <div class="wrapper2">
      <div class="reasons__item2">
        <h4 class="reasons__item2--title">Ut sed metus</h4>
        <p class="reasons__item2--text">
          Lorem ipsum dolor sit amet, consecteur.
        </p>
      </div>

      <div class="reasons__item3">
        <h4 class="reasons__item3--title">Curabitur ac erat</h4>
        <p class="reasons__item3--text">
          Mauris mattis urna quis lorem molestie.
        </p>
      </div>

      <div class="reasons__item4">
        <h4 class="reasons__item4--title">Morbi dictum.</h4>
        <p class="reasons__item4--text">Aliquam in dolor et dolor tincidunt.</p>
      </div>

      <div class="reasons__item5">
        <button class="reasons__item5--button">More reasons</button>
      </div>
    </div>
  </div>
</section>
