.footer {
  background-color: #304268;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__button{

    &--arrow{
      width: 45px;
      height: 45px;
      border-radius: 22.5px;
      background-color:#ffffff ;
      
      border-color: #ffffff;
      border-style: solid;
      border-radius: 50%;
      position: relative;
            bottom: 20px;
      animation-name: move;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;	
    }

    @keyframes move {
      from {
        transform: rotate(0deg);
        }
        to {
        transform: rotate(360deg);
        }
    }
  }
  &__nav1 {
    margin-top: 37px;
    
    &--item {
      text-decoration: none;
      font-family: $text-font;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 30px;
    }
  }
  &__nav2 {
    padding-top: 30px;
    &--item {
      text-decoration: none;
      font-family: $text-font;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 30px;
    }
  }


  &__copy{
      font-family: $text-font;
      font-size: 14px;
      color: #ffffff;
      line-height: 30px;
      &--item1{
      padding-top: 30px;
      }
      &--item2{
          margin-bottom: 45px;
      }
      

  }
}
.fa-heart{
  color: #f26002;
}
