.footer {
	background-color: #304268;

  &__button{
    display:flex;
    
    justify-items: center;
        justify-content: center;

    &--arrow{
      width: 45px;
      height: 45px;
      border-radius: 22.5px;
      background-color:#ffffff ;     
      border-color: #ffffff;
      border-style: solid;
      border-radius: 50%;
      position: relative;
      bottom: 20px;
      animation-name: move;
      animation-duration: 7s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    
    }

    @keyframes move {
      from {
        transform: rotate(0deg);
        }
        to {
        transform: rotate(360deg);
        }
    }
  }
	
	&__container {
    
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		@media all and (min-width: 768px) {
			flex-direction: row-reverse;
      justify-content: space-around;
		text-align: left;
    align-items: baseline;
    margin-top: 45px;
    
		}
		&--nav1 {
      font-family: $text-font;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 30px;
      text-decoration: none;
      margin-top: 30px;
      @media all and (min-width: 768px) {
        width: 210px;
        height: 150px;
        padding: 45px 39px;
        
        margin: 0 30px;
        
        
        
        
      }
			&__item {
        font-family: $text-font;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 30px;
        text-decoration: none;

      }
		
		}

    &--nav2 {
      font-family: $text-font;
				color: #ffffff;
				text-transform: uppercase;
				font-size: 16px;
				line-height: 30px;
				text-decoration: none;
        margin-top: 20px ;
        @media all and (min-width: 768px) {
          margin-top: 0px;
          order:-1;
          width: 210px;
          height: 98px;
          
        }
			&__item {
				font-family: $text-font;
				color: #ffffff;
				text-transform: uppercase;
				font-size: 16px;
				line-height: 30px;
				text-decoration: none;
      }
		
		}
		&--copy {
      margin-top: 30px;
      margin-bottom: 45px;
      @media all and (min-width: 768px) {
        margin-top: 0px;
        margin-bottom: 0px;
      }
			&__list {
				font-family: $text-font;
				font-size: 14px;
				color: #ffffff;
				line-height: 30px;
        
        
			}
			// @media all and (min-width:768px) {
			// 	flex-direction: row;
			// }
		}
	}
}
.fa-heart{
  color: #f26002;
}