.hero{
   display: flex;
   flex-direction : column;
   &__container{
      text-align: center;
         &--cover{
            height: 568px;
            background: url("/assets/images/cover.jpg");
            background-position: top;
            background-size: cover;
            min-width: 320px;
            }
         &--title1{
            padding-top: 284px;
            font-family: $title-font;
            font-size: 42px;
            line-height: 55px;
            color: #ffffff ;
            text-transform: uppercase;
            
            }
         &--title2{
            font-family: $text-font;
            font-size: 16px;
            line-height: 55px;
            color: #ffffff ;  
            }
            &--button{
		         width: 45px;
		         height: 45px;
               background-color:#ffffff ;
               padding-top: 45px;
               
            }
   }
  
}