.reasons {
	background-color: #eff9ff;
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
	&__title {
		font-family: $title-font;
		font-size: 24px;
	}
	&__item1 {
		&--title1 {
			font-family: $title-font;
			font-size: 18px;
		}
		&--text1 {
			font-family: $text-font;
			font-size: 18px;
		}
	}
	&__item2 {
		&--title2 {
			font-family: $title-font;
			font-size: 18px;
		}
		&--text2 {
			font-family: $text-font;
			font-size: 18px;
		}
	}
	&__item3 {
		&--title3 {
			font-family: $title-font;
			font-size: 18px;
		}
		&--text3 {
			font-family: $text-font;
			font-size: 18px;
		}
	}
	&__button {
		align-items: center;
		width: 184px;
		height: 45px;
		background-color: #f26002;
		border-radius: 22.5px;
		font-family: $text-font;
		font-size: 20px;
		color: #ffffff;
		text-align: center;
		border-color: #f26002;
		border-style: solid;
	}
}